node_modules/
coverage/
**/dist/
**/.astro/
**/.next/
**/build/
**/.cache/
examples/gatsby/public/
examples/*/pnpm-lock.yaml
examples/next/next-env.d.ts
examples/next/tsconfig.json
tests/test-results/
